<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">


    <title>Car Form</title>


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!--<a class="navbar-brand text-light" href="#">Profile</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" href="carlist.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="carform.html">Add A Car</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="category.html">Add A Category</a>
            </li>

        </ul>
    </div>
</nav>
<br/><br/><br/>

<div class="container">

    <div class="space"></div>

    <div class="jumbotron">
    <!--<div class="bg-light px-4">-->
        <h2 class="text-center py-4">Add a Car</h2>

        <form method="POST" th:action="@{/process}" th:object="${car}" enctype="multipart/form-data">

            <div class="form-group">
                <input type="hidden" th:field="*{id}" class="form-control" />
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Manufacturer</label>
                <div class="col-sm-6">
                    <input class="form-control"  placeholder="Text" type="text" th:field="*{Manufacturer}" />
                    <span class="text-danger" th:if="${#fields.hasErrors('Manufacturer')}"
                          th:errors="*{Manufacturer}"></span>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-2 ">Model </lable>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Text" type="text" th:field="*{Model}" />
                    <span class="text-danger" th:if="${#fields.hasErrors('Model')}"
                          th:errors="*{Model}"></span>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-2 ">Year </lable>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Text" type="text" th:field="*{Year}" />
                    <span class="text-danger" th:if="${#fields.hasErrors('Year')}"
                          th:errors="*{Year}"></span>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-2 ">MSRP </lable>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Text" type="text" th:field="*{MSRP}" />
                    <span class="text-danger" th:if="${#fields.hasErrors('MSRP')}"
                          th:errors="*{MSRP}"></span>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-2 ">Category </lable>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Text" type="text" th:field="*{Category}" />
                    <span class="text-danger" th:if="${#fields.hasErrors('Category')}"
                          th:errors="*{Category}"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Add an Image</label>
                <div class="col-sm-6">
                    <!--file for image-->
                    <input class="form-control" type="file" name="file"/>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12" align="center">
                    <button class="btn btn-info" type="submit"> Submit</button>
                </div>
            </div>

        </form>

        <div class="space"></div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>